.container-app{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#input {
  position: relative;
}


#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.video-container {
  position: relative;
  width: 640px;
  height: 480px;
  margin-bottom: 20px;
}

video, canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

canvas {
  z-index: 2; /* Make sure canvas is on top */
}

.controls {
  display: flex;
  gap: 10px;
}